header {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: 1.2em;
}
header, footer {
	text-align: center;
}

a.nav-link {
	text-decoration: underline;
}
a.nav-link:visited {
	color: green;
}
a.nav-link:hover {
	font-weight: bold;
}
a.nav-link:active {
	text-decoration: none;
}

.jumbotron {
	margin-bottom: 5px;
}

.carousel-caption {
  color: #fff;
  top: 50%;
  font-size: 20px;
}
.carousel-inner {
  height: 90px;
  background-color: #81E1F5;
}
.carousel-indicators {
	bottom: -5%;
}
@media screen and (max-width: 450px) {
	.carousel-caption{
	  font-size: 15px;
	}
	.carousel-inner{
  		height: 100px;
	}
}
